<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:text="SIP"></title>

	<head th:fragment="css">
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/css/global.css}">
	</head>

	<head th:fragment="js">
		<script th:src="@{/js/bootstrap.min.js}"></script>
	</head>
</head>

<body>
	<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a href="#" class="navbar-brand" th:text="SIP"></a>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a href="/" class="nav-link">Beranda</a>
				</li>
				<li class="nav-item active">
					<a href="#" class="nav-link">Perpustakaan</a>
				</li>
				<li class="nav-item active">
					<a href="#" class="nav-link">Statistik</a>
				</li>
				<li class="nav-item active">
					<a href="#" class="nav-link">Cari</a>
				</li>
			</ul>
		</div>
	</nav>
</body>

</html>