<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Detail Pustakawan</title>
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<div class="content-wrapper">
		<h5>Nama</h5>
		<div class="box">
			<span th:text="${pustakawan.nama}"></span>
		</div>
		<h5>NIP</h5>
		<div class="box">
			<span th:text="${pustakawan.nip}"></span>
		</div>
		<h5>Tempat Lahir</h5>
		<div class="box">
			<span th:text="${pustakawan.tempat_lahir}"></span><br>
		</div>
		<h5>Tanggal Lahir</h5>
		<div class="box">
			<span th:text="${pustakawan.tanggal_lahir}"></span>
		</div>
		<h5>Jenis Kelamin</h5>
		<div class="box">
			<span th:if="${pustakawan.jenis_kelamin == 1}">Laki-laki</span>
			<span th:if="${pustakawan.jenis_kelamin == 2}">Perempuan</span>
		</div>
		<h5>Spesialisasi</h5>
		<div class="box">
			<span th:if="${pustakawan.daftarSpesialisasi.size() == 0}">-</span>
			<span th:if="${pustakawan.daftarSpesialisasi.size() == 1}">
				<span th:each="spesialisasi : ${pustakawan.daftarSpesialisasi}">
					<span th:text="${spesialisasi.nama}"></span>
				</span>
			</span>
			<span th:if="${pustakawan.daftarSpesialisasi.size() > 1}">
				<span th:each="spesialisasi : ${pustakawan.daftarSpesialisasi}">
					<span th:if="${spesialisasiStat.index != pustakawan.daftarSpesialisasi.size()-1}"
						th:text="${spesialisasi.nama} + ','"></span>
					<span th:unless="${spesialisasiStat.index != pustakawan.daftarSpesialisasi.size()-1}"
						th:text="${spesialisasi.nama}"></span>
				</span>
			</span>
		</div>
	</div>
</body>

</html>